#Modal {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modalContent {
  border-radius: 30px;
  padding: 10px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  max-width: 500px;
  width: 80%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(260deg, #034f79, #067577);
  transform: scale(0.9);
}

.modalContent img {
  border: 1px dotted white;
  border-radius: 50%;
}

.modalContent h2 {
  margin: 5px 5px 0px 5px;
}

.modalContent .title {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  align-self: center;
}

.modalContent .details {
  align-self: flex-start;
  text-transform: capitalize;
  border: 1px solid white;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  line-height: 1.5em;
}

.modalContent button {
  background: transparent;
  font-size: 1.2rem;
  padding: 0px 15px;
  font-family: "Kameron", serif;
  color: white;
  oultine: none;
  border: 2px solid white;
  border-radius: 10px;
}

.on {
  display: flex;
}

.off {
  display: none;
}
